<% if @article.errors.any? %>
	<h2>Following errors prevented from creating article</h2>
	<ul>
		<% @article.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>


<%= form_with(model: @article, local: true) do |f| %>

<p>
	<strong><%= f.label :title %></strong><br/>
	<%= f.text_field :title %>
</p>
 	
 <p>
 	<strong><%= f.label :description %></strong><br/>
 	<%= f.text_area :description %>
 </p>

<p>
	<%= f.submit %>
</p>

<% end %>